@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	letter-spacing: 0.05rem;
	font-size: 16px;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: theme("colors.secondary");
	height: 0.15rem;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10310;
}

#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 1rem;
	right: 1rem;
}

#nprogress .spinner-icon {
	width: 1.2rem;
	height: 1.2rem;
	box-sizing: border-box;

	border: solid 2px transparent;
	border-top-color: theme("colors.secondary");
	border-left-color: theme("colors.secondary");
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 600ms linear infinite;
	animation: nprogress-spinner 600ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
