<html>
<head><title>Nastavení nového hesla</title></head>
<body>
<h1>Dobrý den, děkujeme Vám za využivání aplikace JISPEN. Níže klikněte na odkaz pro nastavení/obnovení přístupového hesla.</h1>
<p>
	<a href="{{passwordResetAddress}}">{{passwordResetAddress}}</a>
</p>
</body>
</html>