<html>
<head><title>Nastavení nového hesla</title></head>
<body>
<h1>Klikněte na tento odkaz pro nastavení nového hesla:</h1>
<p>
	<a href="{{passwordResetAddress}}">{{passwordResetAddress}}</a>
</p>
</body>
</html>